/*
 * Overrides
 */
.tocify-wrapper {
  h1 {
    padding: 0 5px;
    color: whitesmoke;
    text-transform: lowercase;

    b {
      color: orange;
    }
  }
}

.page-wrapper {
  background-color: white;
}

.content > h1,
.content > h2 {
  border-top: 0 none;
}

.content > h2 {
  margin-top: 30px;
}

.content > blockquote {
  padding: 10px 0;
  background: inherit;

  h1, h2, h3 {
    padding: 0 13px;

    text-shadow: none;
  }

  > p {
    padding-top: 0;
    padding-bottom: 0;

    text-shadow: none;

    background: inherit;
    border: 0 none;
  }
}

/*
 * Custom tyles
 */
.content > table.attributes {
  background: white;

  caption {
    display: block;
    padding: 10px 0;

    text-align: left;
    text-transform: uppercase;

    color: grey;
    border-bottom: 1px solid lightgray;
  }

  tbody {
    display: block;
  }

  tr > td {
    background: inherit;
  }

  tr {
    display: block;
    border-bottom: 1px solid whitesmoke;

    &:last-child {
      border-color: transparent;
    }
  }

  td {
    &:first-child {
      width: 150px;
      text-align: right;
    }

    &:last-child {
      color: grey;
    }

    div {
      color: grey;
      text-transform: uppercase;
      font-size: 10px;
    }

    .req { color: orange; }
    .opt { color: green; }
  }
}
